
.my_column_card{ background-color: #BDF }
.my_column_card:hover{ background-color: #BDC }

.my_database_card{ background-color: #DDF }
.my_database_card:hover{ background-color: #DDC }

.my_table_card{ background-color: #FDF }
.my_table_card:hover{ background-color: #FDC }

.my_view_card{ background-color: #FFC }
.my_view_card:hover{ background-color: #FFE }

.my_procedure_card{ background-color: #8FF }
.my_procedure_card:hover{ background-color: #BFC }

.my_function_card{ background-color: #5FF }
.my_function_card:hover{ background-color: #5FC }

.my_key_card{ background-color: #FFD }
.my_key_card:hover{ background-color: #FFA }

.object_tab_element {
  border-top: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  color: gray;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

.ajuro_circle {
  display: inline-block;
  background: black;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  margin: 2px;
  background: radial-gradient(circle at 10px 10px, #5cabff, #000);
}

.object_description {
  width: 100%;
  height: 40px;
  color: black;
  font-size: xx-large;
  border: none;
  background-color: #FFFF88;
}

.preview_card {
  color: gray;
  font-size: xx-large;
}

.preview_card_type {
  color: red;
}

.preview_card_schema {
  color: clack;
  font-style: italic;
}

.preview_card_table {
  color: blue;
  font-weight: bold;
}

.preview_card_column {
  color: indigo;
  font-weight: bold;
}
