<h1></h1>
<md-tab-group>
    <md-tab label="DATA">
      <app-cards-filter></app-cards-filter>
      <div class='cards_panel'>
        <app-cards-sources></app-cards-sources>
        <app-cards-list></app-cards-list>
        <app-data-provider></app-data-provider>
      </div>
      <span style='width: 840px; margin-top: 0px; margin-left: 250px; vertical-align: top; float:left'>
        <app-card-preview></app-card-preview>
        <app-grid-area></app-grid-area>
      </span>
      <div class='filters_panel'>
        <app-grid-filter></app-grid-filter>
      </div>
      <span style='width: 300px;'>
        <form [formGroup]="TableCards" novalidate  style='width: 300px; display: inline-block'>
            <div *ngFor="let itemz of TableCards.controls | properties | where : {'use':FilterValue}">
                <fieldset formGroupName={{itemz}}>
                    <fieldset formGroupName="data">
                        <div class="form-group">
                          <div *ngFor="let fielde of TableCards.controls[itemz].controls['data'].controls | properties">
                            <input type="text"
                            class="form-control"
                            [formControlName]="fielde"
                            (mouseenter)="SelectTable(itemz)"
                            >
                          </div>
                        </div>
                    </fieldset>
                </fieldset>
            </div>
          <pre>{{TableCards.value | json}}</pre>
        </form>
      </span>
    </md-tab>
    <md-tab label="Material">
      <div id="content">
        <md-card>  
            
        </md-card>
      </div>
    </md-tab>
    <md-tab label="HTTP">
    <div id="content">
        <md-card>
          <h1>HTTP</h1>
          <h4>HTTP History</h4>
          <button type="button" md-button (click)="CrearHistory()">Clear history</button>
          <button type="button" md-button (click)="AddHistory()">Run Last Request</button>

          <form [formGroup]="RequestsHistoryCards" novalidate>
              <div *ngFor="let itemz of RequestsHistoryCards.controls | properties">
                  <fieldset formGroupName={{itemz}}>
                      <fieldset formGroupName="req">
                          <div class="form-group">
                            <div *ngFor="let fielde of RequestsHistoryCards.controls[itemz].controls['req'].controls | properties">
                              <input type="text"
                              class="form-control"
                              [formControlName]="fielde"
                              >
                            </div>
                          </div>
                      </fieldset>
                  </fieldset>
              </div>
             <pre>{{RequestsHistoryCards.value | json}}</pre>
          </form>

         </md-card>
      </div>
    </md-tab>
</md-tab-group>

<form class="example-form">
    <md-form-field class="example-full-width">
      <input mdInput placeholder="Company (disabled)" disabled value="Google">
    </md-form-field>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><md-form-field class="example-full-width">
        <input mdInput placeholder="First name"> 
      </md-form-field></td>
      <td><md-form-field class="example-full-width">
        <input mdInput placeholder="Long Last Name That Will Be Truncated">
      </md-form-field></td>
    </tr></table>
  
    <p>
      <md-form-field class="example-full-width">
        <textarea mdInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
      </md-form-field>
      <md-form-field class="example-full-width">
        <textarea mdInput placeholder="Address 2"></textarea>
      </md-form-field>
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><md-form-field class="example-full-width">
        <input mdInput placeholder="City">
      </md-form-field></td>
      <td><md-form-field class="example-full-width">
        <input mdInput placeholder="State">
      </md-form-field></td>
      <td><md-form-field class="example-full-width">
        <input mdInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
        <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
      </md-form-field></td>
    </tr></table>
</form>
