#content {
  padding: 20px;
}

.container {
  /*height: 300px;*/
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 25px;
}

.ajuro_circle {
  display: inline-block;
  background: black;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  margin: 2px;
  background: radial-gradient(circle at 10px 10px, #5cabff, #000);
}

.cards_panel {
  position: fixed;
  left: 0px;
  height: 100%;
  width: 250px;
  max-width: 250px;
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
}

.filters_panel {
  position: fixed;
  right: 0px;
  height: 100%;
  width: 250px;
  max-width: 250px;
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}