#content {
  padding: 20px;
}

.container {
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 25px;
}

.filter_element {
  width: 100%
}

.filter_column {
    color: red;
    font-weight: bold;
}

.filter_description {
  width: 100%;
  border-top: 1px solid gray;
  font-style: italic;
  color: gray;
}

.filter_expression {
  color: green;
  font-weight: bold;
}

.filter_tolerance {
  color: black;
  font-weight: bold;
}

.partial_filter_input{
  width: 100%;
  background-color: azure;
}
